.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 370px;
}
.fighter-preview___img{
  margin-left: 10%;
  height: 300px;
}
.fighter-preview___right {
  align-items: flex-end;
}
.preview__Data_content{
  font-size: 90%;
  color:darkmagenta;
  float: left;
}
.fighter-preview___content{
  line-height:250%;
  padding-left: 2%;
  height: 100%;
  width: 100%;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}
.name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  line-height:150%;
  color:brown;
}
.fighter-preview___left {
  align-items: flex-start;
}
